{% extends 'base.html' %} {% block contenidoDinamico %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="h2 mb-4">Editar Libro</h2>
      <form action="{% url 'update_profesor' id %}" method="post">
        {% csrf_token %} {{ nuevo_libro_form }}
        <a href="{% url 'lista_libros' %}" class="btn btn-secondary my-2"
          >Volver Atrás</a
        >
        <button type="submit" class="btn btn-primary my-4">Actualizar</button>
      </form>
    </div>
  </div>
</div>

{% endblock contenidoDinamico %}
